*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: rgb(219, 219, 219);
    background: linear-gradient(to bottom,#000000,#313131 );
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    padding: 350px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header h1{
    font-size: 4em;
}

header #txt{
    display: flex;
    padding-top: 45px;
    color:rgb(175, 175, 0);
    align-content:center;
    flex-wrap: wrap;
}

html body{
    background-color: #000000;
    color: rgb(219, 219, 219);
    max-width: 100vw;

}

img{
    display: flex;
    max-width: 65vw;
    box-shadow: 0 12px 15px rgba(94, 93, 93, 0.5);
    text-align:center;
}